<h1>Coupon Form</h1>
<%= form_tag coupons_path do%>
<input type="text" id="coupon_coupon_code" name="coupon[coupon_code]">
<input type="text" id="coupon_store" name="coupon[store]">
 
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Submit Coupon">
  <%end%>


